<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/CSS/estilos.css">
    <script src="/Static/JS/Javascript.js"></script>
    <title>Hotel Maravilla Natural</title>
</head>
<ul class="topnav">
    <li><a href="/principal">Inicio</a></li>
    <li><a href="#">Registro</a></li>
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/productos">Productos</a></li>
    <li><a href="/Catalogo">Vehiculos</a></li>
    <li><a href="/comandas">Ventas</a></li>
    <li><a class="active" href="facturas">Facturación</a></li>
    <li><a href="/">Salir</a></li>
    <li class="right"><img src="/uploads/logo.jpg" alt=""></li>
</ul>
</div>
<br>
<div class="container">
    <h3>Facturación</h3>
    <hr>
<div class="input-group">
    <div class="form-outline">
    <input type="search" id="form1" placeholder="Buscar factura" class="form-control" />
    </div>
    <button type="button" class="btn btn-success">
        <i class="bi bi-search"></i>
    </button>
</div>
    <br>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Factura No</th>
                <th>Registro No</th>
                <th>Cliente No</th>
                <th>Comanda No</th>
                <th>Fecha</th>
                <th>Total Pagar</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for fact in res %}
            <tr>
                <td>{{fact[0]}}</td>
                <td>{{fact[1]}}</td>
                <td>{{fact[2]}}</td>
                <td>{{fact[3]}}</td>
                <td>{{fact[4]}}</td>
                <td>{{fact[5]}}</td>
                <td>
                    <a  href="/imprimirfactura/{{fact[0]}}" class="btn btn-primary btn-sm"><i class="bi bi-printer"></i></a>
                    <a href="/modificafactura/{{fact[0]}}" class="btn btn-warning btn-sm"><i
                            class="bi bi-pencil-square"></i></a>
                    <a onclick="return confirm('¿Seguro de que desea eliminar esta factura?')" href="/borrafactura/{{fact[0]}}"
                        class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>