<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/agregar" method="post">
        <label for="placa">Placa</label>
        <input type="text" name="Placa" id=""><br><br>
        <label for="marca">Marca</label>
        <input type="text" name="Marca" id=""><br><br>
        <label for="numOcupantes">Numero de ocupantes</label>
        <input type="text" name="numOcupantes" id=""><br><br>
        <label for="estado">Estado</label>
        <input type="text" name="estado" id=""><br><br>
        <label for="consumo">Consumo</label>
        <input type="text" name="consumo" id=""><br><br>
        <label for="soat">Soat</label>
        <input type="text" name="soat" id=""><br><br>
        <label for="tecno_mec">Tecno Mecanica</label>
        <input type="text" name="tecno_mec" id=""><br><br>
        <label for="permiso">Permiso</label>
        <input type="text" name="permiso" id=""><br><br>
        <label for="kilometraje">Kilometraje</label>
        <input type="text" name="kilometraje" id=""><br><br>
        <label for="img">Imagen</label>
        <input type="text" name="img" id=""><br><br>
        <label for="precio">Precio</label>
        <input type="text" name="precio" id=""><br><br>
        <input type="submit" value="Enviar">
        
    </form>
     
    {{msg}}
    
</body>
</html>