<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Alquiler</title>
</head>
<body>
    <style>
        div{
            background-color: lightgrey;
            width: 300px;
            border: 10px solid black;
            padding: 50px;
            margin: 20px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
    <div class="alqui" id="alqui">
    <form id="alquiler" name="alquiler" action="">
        <label for="campo_usuario" class="etiqueta">ID Alquiler</label>
        <input type="text" name="campo_usuario" id="campo_usuario"  pattern="[0-9]{15}" minlength="7" maxlength="15"tabindex="1" class="busqueda" required>  
        <button type="submit" id="btn_entrar" tabindex="3">Agregar</button>
        <br><br>
        <label for="campo_usuario" class="etiqueta">Placa</label>
        <input type="text" name="campo_usuario" id="campo_usuario"  pattern="[0-9]{15}" minlength="7" maxlength="15"tabindex="1" class="busqueda" required>  
        <button type="submit" id="btn_entrar" tabindex="3">Agregar</button>
        <br><br>
        <label for="campo_usuario" class="etiqueta">ID Registro</label>
        <input type="text" name="campo_usuario" id="campo_usuario"  pattern="[0-9]{15}" minlength="7" maxlength="15"tabindex="1" class="busqueda" required>  
        <button type="submit" id="btn_entrar" tabindex="3">Agregar</button>
        <br><br>
        <label for="campo_usuario" class="etiqueta">Num Licencia</label>
        <input type="text" name="campo_usuario" id="campo_usuario"  pattern="[0-9]{15}" minlength="7" maxlength="15"tabindex="1" class="busqueda" required>  
        <button type="submit" id="btn_entrar" tabindex="3">Agregar</button>
        <br><br>
        <label for="campo_usuario" class="etiqueta">Fecha Alquiler</label>
        <input type="date" name="campo_usuario" id="campo_usuario"  pattern="[0-9]{15}" minlength="7" maxlength="15"tabindex="1" class="busqueda" required>  
        <button type="submit" id="btn_entrar" tabindex="3">Agregar</button>
        <br><br>
        <label for="campo_usuario" class="etiqueta">Fecha devolucion</label>
        <input type="date" name="campo_usuario" id="campo_usuario"  pattern="[0-9]{15}" minlength="7" maxlength="15"tabindex="1" class="busqueda" required>  
        <button type="submit" id="btn_entrar" tabindex="3">Agregar</button>
        <br><br>
        <label for="campo_usuario" class="etiqueta">ID Comanda</label>
        <input type="text" name="campo_usuario" id="campo_usuario"  pattern="[0-9]{15}" minlength="7" maxlength="15"tabindex="1" class="busqueda" required>  
        <button type="submit" id="btn_entrar" tabindex="3">Agregar</button>
        <br><br>
        <label for="campo_usuario" class="etiqueta">Comentario</label>
        <input type="text" name="campo_usuario" id="campo_usuario"  pattern="[0-9]{15}" minlength="7" maxlength="15"tabindex="1" class="busqueda" required>  
        <button type="submit" id="btn_entrar" tabindex="3">Agregar</button>
        <br><br>
    </form>
</body>
</html>