<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/modificarGuardar" method="post">
        <label for="placa">Placa</label>
        <input type="text" name="Placa" id="" readonly value="{{placa[0]}}"><br><br>
        <label for="marca">Marca</label>
        <input type="text" name="Marca" id="" value="{{placa[1]}}"><br><br>
        <label for="numOcupantes">Numero de ocupantes</label>
        <input type="text" name="numOcupantes" id="" value="{{placa[2]}}"><br><br>
        <label for="estado">Estado</label>
        <input type="text" name="estado" id="" value="{{placa[3]}}"><br><br>
        <label for="consumo">Consumo</label>
        <input type="text" name="consumo" id="" value="{{placa[4]}}"><br><br>
        <label for="soat">Soat</label>
        <input type="text" name="soat" id="" value="{{placa[5]}}"><br><br>
        <label for="tecno_mec">Tecno Mecanica</label>
        <input type="text" name="tecno_mec" id="" value="{{placa[6]}}"><br><br>
        <label for="permiso">Permiso</label>
        <input type="text" name="permiso" id="" value="{{placa[7]}}"><br><br>
        <label for="kilometraje">Kilometraje</label>
        <input type="text" name="kilometraje" id="" value="{{placa[8]}}"><br><br>
        <label for="img">Imagen</label>
        <input type="text" name="img" id="" value="{{placa[9]}}"><br><br>
        <label for="precio">Precio</label>
        <input type="text" name="precio" id="" value="{{placa[10]}}"><br><br>
        <input type="submit" value="Enviar">
        <a href="/Catalogo">Regresar</a>
    </form>
</body>
</html>