<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/CSS/estilos.css">
    <script src="/Static/JS/Javascript.js"></script>
    <title>Hotel Maravilla Natural</title>
</head>
<ul class="topnav">
    <li><a  href="/principal">Inicio</a></li>
    <li><a href="#">Registro</a></li>
    <li><a class="active" href="/servicios">Servicios</a></li>
    <li><a href="/productos">Productos</a></li>
    <li><a href="/Catalogo">Vehiculos</a></li>
    <li><a href="/comandas">Ventas</a></li>
    <li><a href="facturas">Facturación</a></li>
    <li><a href="/">Salir</a></li>
    <li class="right"><img src="/uploads/logo.jpg" alt=""></li>
</ul>
</div>
<br>
<div class="container">
    <h3>Portafolio de servicios</h3><hr>
    <a href="/agregaservicio" class="btn btn-success btn-sm">
    <i class="bi bi-briefcase"></i></i> Nuevo servicio</a>
    <br><br>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Código</th>
                <th>Servicio</th>
                <th>Descripción</th>
                <th>Duración</th>
                <th>Precio</th>
                <th>IVA</th>
                <th>Estado</th>
            <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for serv in res %}
            <tr>
                <td>{{serv[0]}}</td>
                <td>{{serv[1]}}</td>
                <td>{{serv[2]}}</td>
                <td>{{serv[3]}}</td>
                <td>{{serv[4]}}</td>
                <td>{{serv[5]}}</td>
                <td>{{serv[6]}}</td>
                <td>
                    <a href="/imprimirservicio{{serv[0]}}" class="btn btn-primary btn-sm"><i class="bi bi-printer"></i></a>
                    <a href="/modificaservicio/{{serv[0]}}" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
                <a onclick="return confirm('¿Seguro desea eliminar este servicio?')" href="/borraservicio/{{serv[0]}}"
                class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                </td>
              
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
